body {
    font-family: helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #EE1717; 
    color: #fff;
    padding: 10px 0;
}

.navbar-inner {
    max-width: 960px; 
    margin: auto; 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.navbar-inner a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.navbar-inner a:hover {
    font-size: 21px; 
    padding: 10px 12px; }

.logo-mbc {
    margin-top: 20px; 
    margin-bottom: 15px; 
    width: 250px; 
    height: 60px; 
}

.divider {
    height: 1px;
    margin: 20px 0;
    border-top: 1px solid #ddd; 
}

.profile {
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center; 

}

.profile img {
    margin-left : 250px;
    max-width: 300px; 
    height: auto; 
    margin-right: 50px; 
}

.profile p {
    font-size: 16px;
    line-height: 1.6;
    margin-right: 150px;
    text-align:justify; 
}

.desc{
    margin-left:250px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width:817px;
    height:auto;
}

.desc p{
    
    font-size: 16px;
    line-height: 1.6;
    margin:auto;
    text-align:justify; 
}